@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: Poppins;
    font-size: medium;
    background-color:#15111f ;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.section{
    width: 100%;
    left: 0;
    top: 0;
    padding: 2rem 0 4rem;
}

.section_title{
    font-size: 1.5rem;
    font-weight: 500;
    color: white; 
    margin-bottom: 1rem;
}

.section_subtitle{
    font-size: 1rem; 
    color: rgb(216, 214, 214);
    font-weight: 300;
    margin-bottom: 1rem;
}

.section_title , .section_subtitle {
    text-align: center;
}

.container{
    max-width: 768px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid{
    display: grid;
    gap: 1,5rem;
}


/*---------NAV-----------*/
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: #15111f;
}

.nav {
    max-width: 968px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav_logo {
    color: white;
    font-weight: 300;
}

.nav_menu {
    display: flex;
}

.nav_list {
    display: flex;
    list-style: none; 
}

.nav_item {
    margin-right: 20px; 
    font-size: small;
    color: white;
    font-weight: 500;
    text-decoration: none; 
}

.nav_item:hover {
    color: #5224c7;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: #5224c7;
}

@media (max-width: 768px) {
    .nav_menu {
        display: none; 
    }

    .nav {
        justify-content: flex-end; /
    }
}

/*---------HOME-----------*/

.home section {
    gap: 1rem;
}

.home_container {
    grid-template-columns: 1fr 2fr; 
    padding-top: 3.5rem;
    align-items: center;
}

.home_social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

.home_data {
    justify-content: center;
}

.home_title{
    font-size: 1.5rem;
    font-weight: 500;
    color: white; 
    margin-bottom: 1rem;
}

.home_subtitle{
    font-size: 1rem; 
    color: rgb(216, 214, 214);
    font-weight: 300;
    margin-bottom: 1rem;
}

.home_description {
    color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
}



/*---------SKILLS-----------*/

.skills section {
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    margin: auto;
    margin-left: 20px; 
}

.skills_title{
    font-size: 2rem;
    font-weight: 300;
    color: white;
    margin-bottom: 2rem;
}

.progress_bars{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-content: center;
}

.progress_bar{
    display: flex;
    flex-direction: column;
}

.prog_title{
    text-transform: uppercase;
    font-weight: 200;
    color: white;
}

.prog_container{
    display: flex;
    align-items: center;
}

.progress_bars .progress_bar .prog_text{
    color: rgb(216, 214, 214);
}

.progress_bars .progress_bar .prog_container .progress{
    width: 50%;
    height: 0.45rem;
    background-color: #251e36;
    margin-left: 1rem;
    position: relative;
    border-radius: 10px;
}

.progress_bars .progress_bar .prog_container .progress span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #5224c7;
    transition: all 0.4s ease-in-out;
    width: 45%;
    border-radius: 10px;
}

.progress_bars .progress_bar .prog_container .progress .java{
    width: 60%;
}

.progress_bars .progress_bar .prog_container .progress .csharp{
    width: 50%;
}

.progress_bars .progress_bar .prog_container .progress .sql{
    width: 50%;
}

.progress_bars .progress_bar .prog_container .progress .mongodb{
    width: 60%;
}

.progress_bars .progress_bar .prog_container .progress .html{
    width: 60%;
}

.progress_bars .progress_bar .prog_container .progress .css{
    width: 60%;
}

.progress_bars .progress_bar .prog_container .progress .figma{
    width: 90%;
}

/*---------PORTFOLIO-----------*/


/*---------CONTACT-----------*/

.contact_section {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: #251e36;
}

.contact_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
}

.contact_information {
    display: flex;
    align-items: center;
    margin-top: 2rem; 
    margin-bottom: 2rem;
}

.contact_icon {
    height: 20px;
    margin-right: 1rem;
}

.contact_title {
    font-size: medium;
    font-weight: 300;
    color: white;
}

.contact_subtitle {
    font-size: small;
    color: rgb(216, 214, 214);
}

/*==================== FOOTER ====================*/

footer{
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center; 
}
    
.footer_container {
    display: flex;
}