@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: Poppins;
    font-size: medium;
    background-color:#15111f ;
}

h1, h2, h3 {
    color: white;
    font-weight: 500;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.section{
    padding: 2rem 0 4rem;
}

.section_title{
    font-size: large;
}

.section_subtitle{
    display: block;
    font-size: small;
    margin-bottom: 5px;
}

.section_title , .section_subtitle {
    text-align: center;
}

.container{
    max-width: 768px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid{
    display: grid;
    gap: 1,5rem;
}


/*---------NAV-----------*/
.header {
    width: 100%;
    position: fixed;
    top: 0; /* Mude de 'bottom' para 'top' para posicionar no topo */
    left: 0;
    z-index: 99;
    background-color: #15111f;
}

.nav {
    max-width: 968px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto; /* Adicionado para centralizar horizontalmente */
}

.nav_logo {
    color: white;
    font-weight: 300;
}

.nav_menu {
    display: flex;
}

.nav_list {
    display: flex;
    list-style: none; 
}

.nav_item {
    margin-right: 20px; 
    font-size: small;
    color: white;
    font-weight: 500;
    text-decoration: none; 
}

.nav_item:hover {
    color: #5224c7;
}

@media (max-width: 768px) {
    .nav_menu {
        display: none; 
    }

    .nav {
        justify-content: flex-end; /
    }
}

/*---------HOME-----------*/

.home section {
    gap: 1rem;
}

.home_container {
    grid-template-columns: 1fr 2fr; /* ou grid-template-columns: 0.5fr 2fr; */
    padding-top: 3.5rem;
    align-items: center;
}

.home_social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

.home_data {
    justify-content: center;
}

.home_title {
    font-size: 2rem; 
}

.home_subtitle {
    font-size: 1.5rem; 
    color: rgb(216, 214, 214);
    font-weight: 200;
    margin-bottom: 1rem;
}

.home_description {
    color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
}



/*---------SKILLS-----------*/

.skills_header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2rem;
}

.skills__titles {
    display: flex;
    font-size: white;
    justify-content: center;
}

.skills__subtitle{
    font-size: small;
    justify-content: center;
    color: white;
}

.skills__list {
    margin-right: auto;
    margin-left: auto;
    row-gap: 1.5rem;
    padding-left: 0;
}

.skills__titles {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.skills__name {
    font-size: small;
    font-weight: 200;
}

.skills__bar, .skills__percentage {
    height: 5px;
    border-radius: .25rem;
}

.skills__bar {
    background-color: #5224c7;
}

.skills__percentage{
    display: block;
}

.skills__number{
    color: white;
}

/*---------PORTFOLIO-----------*/

.portfolio section {
    width: 100%;
}

.section_title {
    color: white;
    font-weight: 500;
    font-size: larger;
}

.section_subtitle {
    color: white;
    font-weight: 300;
}

.portfolio_container :nth-child(n + 0){
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.portfolio_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px;
    width: 300px;
    height: 300px;
    background-color: #251e36;
    border-radius: 10px;
}

.portfolio_container_header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.portfolio_content img {
    margin-right: 10px; 
}

.portfolio_title {
    font-size: medium;
    color: #5224c7;
}

.portfolio_description {
    font-size: small;
    font-weight: 500;
    color: white;
    text-align: center;
}


/*---------CONTACT-----------*/

.contact_section {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: #251e36;
}

.contact_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
}

.contact_information {
    display: flex;
    align-items: center;
    margin-top: 2rem; 
    margin-bottom: 2rem;
}

.contact_icon {
    height: 20px;
    margin-right: 1rem;
}

.contact_title {
    font-size: medium;
    font-weight: 300;
}

.contact_subtitle {
    font-size: small;
    color: white;
}

/*==================== FOOTER ====================*/

footer{
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center; 
}
    
.footer_container {
    display: flex;
}